.header {
	width: 100%;
	height: 100%;
	line-height: 60px;
}

.nav__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.logo {
	display: inline;
	align-items: center;
	column-gap: 8px;

}


.logo img {
	height: 4rem;
}

.menu {
	display: flex;
	align-items: center;
	column-gap: 2.7rem;
	margin-bottom: 0;
}

.nav__item{
  list-style-type: none;
align-items: center;
cursor: pointer;
}
.nav__item a {
	text-decoration: none;
color: white !important;
}
.hamburger{
	display: none;


}

@media only screen and (max-width: 768px) {

.navigation{
	display: none;
	
}

.hamburger{
	display: flex;
	float: right;
	font-size: 1.1rem;
}



}